@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "r-ai-app-theme";
  default: true;
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: hsl(0.0 0.0% 0.0%);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(98% 0.003 247.858);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(70% 0 0);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(87% 0 0);
  --color-neutral-content: oklch(14% 0 0);
  --color-info: oklch(71% 0.194 13.428);
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: oklch(85% 0.138 181.071);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(74% 0.238 322.16);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-oxanium: "Oxanium", sans-serif;
  --font-code: monospace;
}

.font-code { font-family: var(--font-code); }
.font-playfair { font-family: var(--font-playfair); }
.font-oxanium { font-family: var(--font-oxanium); }


html, body {
  overflow: hidden;
}
